# Environments
venv/
env/
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Forensic Reports / Output
data/
reports/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local Scripts
auto_commit.sh
push_git.sh

# Workspaces
*.code-workspace
